body {
	margin: 0;
	background-color: #252525;
}

#canvas {
	border: 3px solid black;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@font-face {
	font-family: TIC;
	src: url(./font/tic-80-wide-font.ttf);
}